<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl8zGKX4IReVh4lZCrEjRjfi2C4lCA1oo</string>
	<key>GCM_SENDER_ID</key>
	<string>601640809055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.forestnerd.rtkita</string>
	<key>PROJECT_ID</key>
	<string>rt-pintar-6bfbd</string>
	<key>STORAGE_BUCKET</key>
	<string>rt-pintar-6bfbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601640809055:ios:dffd2bccf24a74e4faa1ea</string>
</dict>
</plist>